body {
    font-family: 'Avenir Next Cyr';
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  button,
  input {
    outline: none;
    border: none;
  }
  button {
    cursor: pointer;
  }
  p {
    margin-top: 1rem;
  }
.container {
    max-width: 1136px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    opacity: 1;
}
  /* модальное окно начало */
._locked {
    overflow: hidden;
  }
  
  .modal__btn {
    border: none;
    background-color: #f36262;
    padding: 5px 10px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  ._modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    pointer-events: none;
  }
  
  ._modal._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  
  .modal-body {
    padding: 24px;
    background-color: #fff;
    width: 700px;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    border-radius: 16px;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  /* модальное окно конец  */
  /* бургер меню  */
  .modal__mb {
      position: fixed;
      top: 0;
      left: -3000px;
      height: 100%;
      width: 100%;
      background-color: #fff;
      background: rgba(0, 0, 0, 0.59);
      z-index: 10;
  }
  .modal_window {
      background-color: #252525;
      padding: 113px 20px;      
      height: 100%;
      width: 100%;
      max-width: 229px;
  }
  .header-modal-close {
      background-image: url(../img/close.svg);
      background-repeat: no-repeat;
      background-color: transparent;
      position: absolute;
      left: 20px;
      top: 20px;
      height: 16.97px;
      width: 16.97px;
  }
  
  .burger-link::after {
    display: block;
    position: relative;
    content: "";
    height: 1px;
    width: 100%;
    background-color:  #A8A8A8;
    transition: width .2s ease-in-out, left .5s ease-in-out;
    left: 0%;
    bottom: -10px;
  }
  .burger-link a {
    color: #ffffff;
    display: block;
    margin-top: 20px;
  }
  
  .header {
      color: #ffffff;
  }
  .header_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem 1rem;
  }
  .header__bg {
      background-image: url(../img/header_bg.png);
      display: block;
      background-size: contain;
      height: 568px;
      background-repeat: no-repeat;
  }
  .modal__btn {
      background-color: transparent;
      font-size: 16px;
letter-spacing: -0.02em;
  }
  .burger-btn {
      background-image: url(../img/burger-menu.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      background-color: transparent;
      height: 16px;
      width: 24px;
  }
.header-burger {}